<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kinghy.faqbot.mapper.TestMapper">

    <resultMap id="BaseResultMap" type="com.kinghy.faqbot.entity.Test">
            <id property="id" column="id" />
            <result property="name" column="name" />
            <result property="createdAt" column="created_at" />
    </resultMap>

    <sql id="Base_Column_List">
        id,name,created_at
    </sql>
</mapper>
